@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: "amongus";
  src: url('/assets/fonts/amongus.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#game-container {
  width: 100%;
  height: 100%;
}

#game-container canvas {
  display: block;
}

.spritePosition {
  margin: 10px 0 0 10px;
  font-size: 0.8em;
}

.button {
  width: 140px;
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  border: 1px solid #0ec3c9;
  color: #0ec3c9;
}

.button:active {
  background-color: #0ec3c9;
}

.button:disabled {
  cursor: not-allowed;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
